/* assets/css/fonts.css */

/* Importar fuentes locales (PPModel) */
@font-face {
  font-family: "PPCirka";
  src: url("./cirka/PPCirka-Bold.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PPCirka";
  src: url("./cirka/PPCirka-Light.otf") format("opentype");
  font-weight: 700; /* puedes usar 700 para Super si es más gruesa */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PPCirka";
  src: url("./cirka/PPCirka-Variable.ttf") format("opentype");
  font-weight: 700; /* puedes usar 700 para Super si es más gruesa */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PPWriter";
  src: url("./writer/PPWriter-Regular.otf") format("opentype");
  font-weight: 700; /* puedes usar 700 para Super si es más gruesa */
  font-style: normal;
  font-display: swap;
}
