@font-face {
  font-family: "Playground";
  src: url("./playground/PPPlayground-Light.otf") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Playground";
  src: url("./playground/PPPlayground-Medium.otf") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Playground";
  src: url("./playground/PPPlayground-Thin.otf") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Writer";
  src: url("./writer/PPWriter-RegularText.otf") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
